@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Vazir-Light";
    src: url("../../public/fonts/Vazir-Light.woff2");
}

@font-face {
    font-family: "Vazir-Regular";
    src: url("../../public/fonts/Vazir-Regular.woff2");
}

@font-face {
    font-family: "Vazir-Bold";
    src: url("../../public/fonts/Vazir-Bold.woff2");
}

@font-face {
    font-family: "Vazir-Medium";
    src: url("../../public/fonts/Vazir-Medium.woff2");
}